@use '../base/variables' as *;

.btn {
    color: $white-100;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    transition:
        background 1s ease,
        transform 0.8s ease,
        opacity 0.6s ease;

    &--primary {
        background: linear-gradient(to right,
                rgba(164, 27, 43, 0.85) 0%,
                rgba(106, 13, 173, 0.85) 100%);

        transition: background-position 1s ease, background-size 1s ease, transform 0.8s ease;

        background-size: 150% 100%;
        background-position: left;

        &:hover {
            background-position: right;
            background-size: 180% 100%;
            transform: translateY(-1px);
        }
    }

    &--icon {
        padding-left: 1rem;
    }

    &__icon {
        display: inline-flex;
        align-items: center;

        img {
            width: 1.3rem;
            height: 1.3rem;
            display: block;
            filter: brightness(0) invert(1);
        }
    }

    &__text {
        display: inline-block;
    }
}