@use '../base/variables' as *;

.btn {
    color: $white-100;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &--primary {
        background-color: $color-purple-300;

        &:hover {
            background-color: $color-purple-200;
        }
    }


}