@use 'variables' as *;
@use '../base/typography';

html,
body {
  height: 100%;
  @include typography.baseFonte;
}

body {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      #0a0612 0%,
      #1a0f2b 20%,
      #2d1650 40%,
      #3a1e70 60%,
      #5333a5 80%,
      #7a5bdb 100%);
}

section {
  padding: 2rem 3rem;
  width: 85%;
  max-width: 1200px;
  margin: 1.3rem auto;
}

h1 {
  color: $title-highlight-color;
}


.ocult {
    opacity: 0;
}
