@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@mixin codeFont {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}

@mixin baseFonte {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: $text-color-primary;
}

@mixin titleFont {
  color: $text-color-primary;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}