// Base dark theme
$color-dark-900: #0a0612;
$color-dark-800: #1a0f2b;
$color-dark-700: #2d1650;
$color-dark-600: #43227e;

// Purple family
$color-purple-500: #5f3abb;
$color-purple-400: #8e6cff;
$color-purple-300: #b49cff;
$color-purple-200: #d6caff;

// Utility colors
$white-100: #f7f5fd;
$white-200: #ece8f5;

// Text colors;
$text-color-primary: $white-100;
$text-color-secondary: $white-200;
$title-highlight-color: #00cc55;
