@use '../base/typography' as *;
@use '../base/variables' as *;

.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__content {
    max-width: 900px;
  }
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__input {
    position: absolute;
    opacity: 0;

    &:checked + .tabs__label {
      background: $color-dark-600;
      color: $white-200;
      @include baseFonte;
    }

    &:checked + .tabs__label + .tabs__panel {
      max-height: 1000px;
      opacity: 1;
      padding: 20px 30px 30px;
      visibility: visible;
    }
  }

  &__label {
    width: 100%;
    padding: 20px 30px;
    background: $color-dark-800;
    @include baseFonte;
    color: $white-25;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
    transition: background 1s ease, color 0.2s ease;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    &:hover {
      background: $color-dark-600;
    }
  }

  &__panel {
    width: 100%;
    background: $color-dark-600;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0 30px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 3px 3px #2b2b2bde;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 12px;
    @include baseFonte;
  }

  p {
    line-height: 1.6;
  }

  b {
    font-weight: 600;
    color: $white-200;
  }

  @media (min-width: 600px) {
    &__label {
      width: auto;
      border-bottom: none;
    }

    &__panel {
      order: 99;
    }

    &__input:checked + .tabs__label + .tabs__panel {
      max-height: none; 
    }
  }
}