@use '../base/typography' as *;
@use '../base/variables' as *;

.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__content {
    max-width: 900px;
  }
}

/* Tabs */
.tabs {
  display: flex;
  flex-wrap: wrap;

  &__input {
    position: absolute;
    opacity: 0;

    &:checked+.tabs__label {
      background: $color-dark-600;
      @include baseFonte;
      color: $white-200;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    &:checked+.tabs__label+.tabs__panel {
      display: block;
    }
  }

  &__label {
    width: 100%;
    padding: 20px 30px;
    background: $color-dark-800;
    @include baseFonte;
    color: $white-25;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease;

    &:hover {
      background: $color-dark-600;
    }
  }

  &__panel {
    display: none;
    width: 100%;
    padding: 20px 30px 30px;
    background: $color-dark-600;
  box-shadow: 3px 3px #2b2b2bde;

  }

  &__title {
    font-size: 24px;
    margin-bottom: 12px;
  }

  p {
    line-height: 1.6;
  }

  b {
    font-weight: 600;
    color: $white-200;
  }

  @media (min-width: 600px) {
    &__label {
      width: auto;
    }

    &__panel {
      order: 99;
    }
  }
}