@use '../base/typography';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        width: 45%;
    }

    &__info-title,
    &__info-subtitle {
        @include typography.codeFont;
        text-align: left;
        font-size: 3.2rem;
    }

    &__avatar {
        width: 320px;
        height: 320px;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #fff;
    }
}
