@use '../base/typography' as *;
@use '../base/variables' as *;

.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__skills {
        display: grid;
        width: 90%;
        max-width: 1100px;
        gap: 38px;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 1rem;

        @media (min-width: 600px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 900px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (min-width: 1200px) {
            grid-template-columns: repeat(5, 1fr);
        }

        .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            justify-content: center;
            padding: 8px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 3px 3px #2b2b2bde;

            i::before {
                width: 80px;
                color: $white-200;
            }
        }
    }
}