@use '../base/typography'as *;
@use '../base/variables' as *;

.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__skills {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        gap: 38px;
        justify-content: center;

        .skill{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            justify-content: center;
            padding: 8px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 3px 3px #2b2b2bde;
            
            i::before{
                width: 80px;
                height: auto;
                color: $white-200;
            }
        }
    }
}


