@use '../base/typography';

.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__skills {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        gap: 8px;
        justify-content: center;
    }
}