@use 'base/base';
@use 'base/variables';
@use 'base/reset';
@use 'base/typography';

@use 'sections/projects';
@use 'components/project-card';
@use 'components/button';

@use 'layout/header';
@use 'layout/skills';