@use 'base/base';
@use 'base/variables';
@use 'base/reset';
@use 'base/typography';

@use 'components/project-card';
@use 'components/button';

@use 'layout/header';
@use 'layout/technologies';
@use 'layout/about';
@use 'layout/projects';
